
export(uvab,abmm,qqbeta,kmgw.calc,bpcp,bpcp.mm,bpcp.mc,bpcpMidp.mm,
kmcilog,intChar,borkowf.calc,getmarks,getmarks.x,
kmciBorkowf,kmci1TG,kmciTG,kmciSW,kmConstrain,rejectFromInt,kmConstrainBeta.calc,kmtestConstrainBeta,kmtestConstrainBoot,
kmciSW,kmtestALL,citoLR,StCI, bpcp2samp, betaMeldTest, betaMeldTestMidp.mc, meldMC, bpcp2sampControl, fixtdiff, mdiffmedian.test,bpcpControl)

#importFrom(stats,median,quantile)
importFrom("graphics", "segments", "points")
importFrom("grDevices", "gray")
importFrom("stats", "median","quantile","pbeta", "dbeta", "qbeta", "integrate", "uniroot", "rbeta", "qnorm", "pnorm", "qchisq", "pbinom")

S3method(plot,kmci)
S3method(lines,kmci)
S3method(summary,kmci)
S3method(plot,kmciLR)
S3method(lines,kmciLR)
S3method(summary,kmciLR)
S3method(StCI,default)
S3method(StCI,kmciLR)
S3method(median,kmci)
S3method(median,kmciLR)
S3method(quantile,kmci)
S3method(quantile,kmciLR)


